<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body {
      background-color: #FAD9C1; /* Apricot color */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #E84A5F; /* Reddish Pink for headings */
      text-align: center;
    }

    form {
      max-width: 400px;
      margin: 20px auto;
    }

    label {
      display: block;
      margin: 10px 0 5px;
      color: #333;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #E84A5F;
      color: white;
      padding: 15px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <%= form_tag(authenticate_path, method: 'post') do %>
      <%= label_tag :username %>
      <%= text_field_tag :username %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag 'Login' %>
    <% end %>
  </div>
</body>
</html>
